@import "mixins";

$color-diomar: #2f91bc;
$color-global: #3c3934; 
$color-medium: #909090;
$color-light: #e0e0e0;
$color-black: #333333;
$color-white: #ffffff;
$color-warning: #ef5624;

@include selection($color-global,$color-white);

html {
	font-size: 62.5%;
}

body { 
	font-family: 'Dosis', sans-serif;
	color: $color-global;
    font-size: 2rem; 	// = 20px
    line-height: 3rem;
    @include link-colors($color-diomar,$color-diomar,$color-light,$color-diomar);
    background-color: #000000;
}
ul, ol {
  list-style: none;
}

strong
{
	font-weight: bold;
}

.outsite {
	position: absolute;
	margin-left: -2000px;
}

h1 {
	font-size: 3.6rem;
	line-height: 5.4rem;
}
h2 {
    font-size: 3rem;
	line-height: 4.5rem;
}
h3 {
    font-size: 2.4rem;
	line-height: 4.8rem;
}
h4 {
    font-size: 2.4rem;
	line-height: 4.8rem;
}

li {
	display: block;
	vertical-align: middle;
}
p
{
	margin-bottom: 20px;
}

a:hover {
	text-decoration: none;
}
underline {
	position: absolute;
	display: block;
	width: 0%;
	height: 1px; 
	background-color: $color-black;
	left: 0;
	bottom: 0;
} 
.rotate-90 {
	@include prefix(transform, rotate(90deg), webkit ms);
}
.rotate-180 {
	@include prefix(transform, rotate(180deg), webkit ms);
}
.rotate-270 {
	@include prefix(transform, rotate(270deg), webkit ms);
}

section
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 70px 30px;
}

.header-section
{
	padding: 100px 30px;
}

.section-1
{
}

.section-2 
{
	color: $color-global;
	background-color: $color-white;

	h1, h2, h3, h4
	{
		color: $color-global;
	}
	divider
	{
		border-bottom: 1px solid $color-global;
	}
}

divider
{
	margin: 30px 30px 30px 0;
	height: 1px;
	width: 120px;
}

.container {
	padding: 20px 20px;
}

.row {
	padding: 20px 20px;
}

.cursor-pointer {
	cursor: pointer;
}

.bg-container
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	.bg-image
	{
		width: 100%;
		height: 100%;
	}
}

.bg-container-1
{
	background: #4e99ba; /* Old browsers */
	background: -moz-linear-gradient(left, #4e99ba 0%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #4e99ba 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #4e99ba 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e99ba', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}
.bg-container-2
{
	background: #4e99ba; /* Old browsers */
	background: -moz-linear-gradient(left, #4e99ba 0%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #4e99ba 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #4e99ba 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e99ba', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.center-text
{
	text-align: center;
}

.bolder
{
	font-weight: bold;
}

.main-content
{
	position: relative;
	z-index: 100;
}

$responsive-image-width: 80%;

.responsive-image-container
{
	overflow: hidden;
	.responsive-image
	{
		margin: 0 20%;
		width: $responsive-image-width;
	}
	.responsive-image-0
	{
		height: ($responsive-image-width * 1.05);
	}	
	.responsive-image-1
	{
		height: ($responsive-image-width * 0.663);
	}	
	.responsive-image-2
	{
		height: ($responsive-image-width * 0.675);
	}	
	.responsive-image-3
	{
		height: ($responsive-image-width * 0.663);
	}	
	.responsive-image-4
	{
		height: ($responsive-image-width * 0.61);
	}	
	.responsive-image-5
	{
		height: ($responsive-image-width * 0.655);
	}	
	.responsive-image-6
	{
		height: ($responsive-image-width * 0.677);
	}	
	.responsive-image-7
	{
		height: ($responsive-image-width * 0.647);
	}	
	.responsive-image-8
	{
		height: ($responsive-image-width * 0.652);
	}	
	.responsive-image-m1, .responsive-image-m2
	{
		height: ($responsive-image-width * 1.015);
	}	
}

.desc-container
{
	text-align: center;
	.desc
	{
		font-size: 1.7rem;
		line-height: 3.4rem;
	}		
}

.social-icon
{
	margin: 0 20px;
}


#site-header
{
	padding: 200px 50px 130px 50px;
	.foto
	{
		border: 4px solid $color-white;
	}
}

.feature-element
{
}

.feature-element-B
{
}

#site-article
{
	padding: 0 5%;
	.title
	{
		margin-bottom: 30px;
	}
	.foto
	{
		border: 4px solid $color-diomar;
	}
	.foto-another
	{
		// margin-top: 50px;
	}
	.foto-desc
	{
		margin-top: 20px;
		text-align: center;
	}
}

#site-footer
{
	padding: 130px 0;
	.material-icons
	{
		color: $color-global;
	}
}

/////////////////////////////////////////////////////////////
// ANIMATIONS //

.animation-1 {
	@include prefix(animation, animation-1-frames ease 1s, webkit moz o ms);
	@include prefix(animation-iteration-count, 1, webkit moz o ms);
	@include prefix(transform-origin, 50% 50%, webkit moz o ms);
	@include prefix(animation-fill-mode, forwards, webkit moz o ms);
}

@include prefix-content(animation-1-frames) {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }	
}
